@model IEnumerable<BeanScene.Models.Sitting>

@{
    ViewData["Title"] = "Manage Sittings";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";


}

<section class="container category-index pt-4">
    <div class="mx-auto">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-center align-middle view-title">@ViewData["Title"]</h2>
            <a asp-action="Create" class="btn create-new-btn align-middle">
                <i class="bi bi-plus-lg" aria-hidden="true" aria-label="Add Sitting"></i>
                Add Sitting
            </a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SittingType)
                    </th>
                    <th>
                        Session Time
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="align-middle">
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SittingType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime.Time) - @Html.DisplayFor(modelItem => item.EndTime.Time)
                        </td>
                        <td class="@(item.Status.ToString() == "Available" ? "available" : "unavailable")">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        @*<td>
                    @Html.DisplayFor(modelItem => item.Schedule.Id)
                    </td>*@
                        <td>
                            <a class="btn btn-edit" asp-action="Edit" asp-route-sittingTypeId="@item.SittingTypeId" asp-route-dateString="@item.Date.ToString("yyyy-MM-dd")" title="Edit Sitting">
                                <i class="bi bi-pencil-fill" aria-hidden="true"></i><span class="visually-hidden"> Edit</span>
                            </a>
                            <a class="btn btn-outline-secondary" asp-action="Details" asp-route-sittingTypeId="@item.SittingTypeId" asp-route-dateString="@item.Date.ToString("yyyy-MM-dd")" title="Sitting Details">
                                <i class="bi bi-info-square-fill" aria-hidden="true" aria-label="Details"></i><span class="visually-hidden"> Details</span>
                            </a>
                            <a class="btn btn-outline-danger delete-btn" asp-action="Delete" asp-route-sittingTypeId="@item.SittingTypeId" asp-route-dateString="@item.Date.ToString("yyyy-MM-dd")" title="Delete Sitting">

                                <i class="bi bi-trash-fill delete-btn" aria-hidden="true" aria-label="Delete"></i> <span class="visually-hidden"> Delete</span>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>